<h1>What do I need to do?</h1>

<div class='my-4'>
  <%= link_to new_task_path do %>
    <i class="fas fa-plus-circle"></i>
    Add a task
  <% end %>
</div>

<div>
  Order by
  <%= link_to 'due date ⏬', tasks_path(order: 'due_date_asc') %> |
  <%= link_to 'due date ⏫', tasks_path(order: 'due_date_desc') %> |
  <%= link_to '✔ first', tasks_path(order: 'status_not_done') %> |
  <%= link_to '❌first', tasks_path(order: 'status_done') %>
</div>

<ul>
  <% @tasks.each do |task| %>
      <li class="<%= task.done ? 'task-completed' : '' %>">
        <div class="task-card">
          <%= link_to task_path(task), method: :patch, remote: true do %>
            <% if task.done %>
                <i class="fas fa-check-circle"></i>
              <% else %>
                <i class="far fa-check-circle"></i>
              <% end %>
          <% end %>
          <%= task.title %>
          <% if task.due_date %>
            <small>
              <%= "(before #{task.due_date.strftime("%B #{task.due_date.day.ordinalize}")})"  %>
            </small>
          <% end %>
          <p class="mb-0">
            <small class="text-muted"><%= task.description %></small>
          </p>
        </div>
      </li>
    <% end %>
</ul>
